*{
    background-color: black;
    color:aqua;
    font-size:clamp(1rem, 2vw, 1.5rem);
}

.cal-body{
    box-shadow:0 0 10px white;
    max-width:90vw;
    padding:1rem;
    margin:3% 5%;
    justify-self:center;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    justify-content: center;
}

.display{
    width:90%;
    min-height: 3rem;
    border-radius:5px;
    text-align:right;
    padding:clamp(0.5rem, 1.4vw, 1rem);
    background-color:rgb(48, 46, 46);
}

button{
    box-shadow:0 0 3px white;
    margin:clamp(0.5rem, 1vw, 1rem);
    
    width:clamp(2rem, 5vw, 4rem);
    border-radius:10px;
    height:clamp(2rem, 4vw, 3rem);
}

.button-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(max-width:768px){
    body{
        min-height:100vh;
        align-items:center;
    }
}
